body {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    padding:0 1em;
    background-color: #fff;
    color: #424242;
}

h1 {
    font-size:3em;
    margin:0.5em 0;
}

h2 {
    font-size:2em;
    margin:0.75em 0 0.5em;
}

ul {
    margin-top:1em;
    padding-left: 0;
    margin-left:1em;
    /*padding-left:1em;*/
    list-style:none;
    
    margin-bottom:1em;
}

li {
    margin-bottom:0.75em;
    /*padding-left:0.5em;*/
    padding-left: 0;
}

a {
    color:#828282;
    text-decoration:none;
}

a[target=_blank]::after {
    display:inline-block;
    content: '\01F875';
    font-size: 0.5em;
    position: relative;
    bottom:0.75em;
    margin-left:0.25em;
}

a:hover {
    text-decoration:underline;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    font-weight:bold;
    color:#626262;
    padding:0.5em 1em;
}

.btn:hover {
    text-decoration: none;
    color: #424242;
}

.btn:active {
    color: #c4c4c4;
}


/*
LIGHT THEME:
* Main background color: #fff
* Main font color: #424242
* Mid color font: #626262
* Placeholder font color: #c4c4c4
* Links color: #828282


DARK THEME:
* Main Background color: #1d1d1d
* Main font-color: #b4b4b4
* Placeholder font color: #727272 
*/